body {
    margin: 0;
	background-color: #333;
}

h1 {
    font-family: Quicksand, "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 48px;
}

p {
    font-family: Quicksand, "Segoe UI", sans-serif;
    font-size: 30px;
    color: #999;
}

button {
    font-family: Quicksand, "Segoe UI", sans-serif;
    font-size: 30px;
    color: #999;
}

.header {
    position: relative;
    text-align: center;
    background-color: #222;
    color: #fff;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navigation {
	position: relative;
	top: -100px;
	width: 100%;
    text-align: center;
}

.download-button {
	height: 50px;
	width: 150px;
	background: transparent;
	border: 0px;
	outline: none;
	color: #fff;
	font-size: 20px;
	transition: 0.2s;
}

.download-button::after {
	content: "";
	position: absolute;
	margin-left: -78px;
	bottom: 0px;
	width: 70px;
	height: 3px;
	border-radius: 5px;
	background: #5B7CFF;
	backdrop-filter: blur(20px);
	transform: scaleX(0);
	transition: transform 0.3s;
}

.download-button:hover::after {
	transform: scaleX(1.5);
}

.download-button:hover {
	color: #5B7CFF;
}

.content {
    position: relative;
	height: 0vh;
    text-align: center;
    background-color: #333;
}

.extra {
	position: relative;
    height: 0vh;
	top: 100px;
    text-align: center;
    background: transparent;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -4px;
    min-height: 100px;
    max-height: 100px;
}

.parallax > use {
    -webkit-animation: moveForever 25s cubic-bezier(.3, .1, .1, .5) infinite;
            animation: moveForever 25s cubic-bezier(.3, .1, .1, .5) infinite;
}

.parallax > use:nth-child(1) {
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

@-webkit-keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@keyframes moveForever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
                transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
                transform: translate3d(85px, 0, 0);
    }
}

@media (max-width : 768px) {
    h1 {
        font-size: 24px;
    }
    .content {
        height: 30vh;
    }
    .waves {
        height: 40px;
        min-height: 40px;
    }
}